/* General body styles */
body {
  background-color: #f2f2f2;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
}

/* Login container styles */
.login-container {
  max-width: 400px; /* Set maximum width */
  margin: 40px auto; /* Center horizontally */
  padding: 40px; /* Add padding */
  position: absolute; /* Center vertically */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9f9f9; /* Background color */
  border: 1px solid #ddd; /* Border */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow */
}

/* Login header styles */
.login-header {
  font-size: 24px; /* Font size */
  font-weight: bold; /* Font weight */
  margin-bottom: 10px; /* Margin */
  text-align: center; /* Center text */
}

/* Login form styles */
.login-form {
  margin-top: 20px; /* Margin top */
}

/* Input styles for email and password */
.login-form input[type="email"],
.login-form input[type="password"] {
  width: 100%; /* Full width */
  height: 40px; /* Height */
  margin-bottom: 20px; /* Margin */
  padding: 10px; /* Padding */
  border: 1px solid #ccc; /* Border */
  border-radius: 5px; /* Rounded corners */
}

/* Submit button styles */
.login-form input[type="submit"] {
  background-color: #2f4f7f; /* Background color */
  color: #fff; /* Text color */
  padding: 10px 20px; /* Padding */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor */
  width: 100%; /* Full width */
}

.login-form input[type="submit"]:hover {
  background-color: #333; /* Hover background color */
}

/* Footer styles */
.login-footer {
  font-size: 14px; /* Font size */
  margin-top: 10px; /* Margin */
  text-align: center; /* Center text */
}

/* Link styles in footer */
.login-footer a {
  text-decoration: none; /* No underline */
  color: #2f4f7f; /* Link color */
}

.login-footer a:hover {
  color: #333; /* Hover link color */
}

/* Additional input margin for all inputs */
.login-form input {
  margin-bottom: 15px; /* Margin */
}
.login-btn{
  margin-bottom: 10px;
}